﻿/*
    Known overrides for DxDataGrid
*/

/*
    RowIndex
*/
.dx-row-index {
    background-color: $primary !important;
    color: #fff;
}

.dx-row-index::after {
    margin-left: auto;
    margin-right: auto;
    content: attr(data-index);
}

.dx-row-index:after {
    margin-left: auto;
    margin-right: auto;
    content: attr(data-index);
}
/*//---RowIndex--*/

/*Set celltext bold */
.dx-cell-highlight {
    font-weight: bold;
}


/*Grid row hover*/
.dxbs-data-row:hover {
    cursor: pointer;
    background: $primary;
    color: #fff;
}

/*Grid row hover, includes first td if it has index-row*/
.dxbs-gridview tr:hover .dx-row-index, .table-active {
    cursor: pointer;
    background: $primary !important;
    color: #fff !important;
}

.dxbs-gridview thead{
    background: #eee;
}

.dxbs-input-group .form-control {
    margin: 0;
    padding: 0;
    min-height: 10px;
}






.dxbs-table thead, .dxbs-group-panel-container, .btn-toolbar {
    background: rgba(0,0,0,.03);
}

.dxbs-group-panel-container {
    border-bottom: 1px solid #ccc !important;
}




/*Height in grid cell*/
.dxbs-data-row td {
    line-height: 12px !important;
}

.dxbs-data-row:hover {
    background: $primary;
    color: #fff;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.card-header {
    padding: .5rem .75rem !important;
}

.dxbs-fl .dxbs-fl-gt {
    margin: 0 !important;
}

.dxbs-fl .dxbs-fl-gd {
    margin-bottom: .5rem !important;
    margin-top: .5rem !important;
}

.dxbs-fl .row {
    padding: 0 .5em;
}

.dxbs-gridview .table-sm td, .table-sm th {
    padding: .2rem !important;
}
