﻿.shell {
    position: fixed;
    z-index: 3000;
    bottom: 18px;
    min-height: 100px;
    width: 100vw;
    padding: 10px;
    background: #000;
    color: #fff;
    border-top: 1px solid $border;
    display: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
