﻿.spin-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    margin: 10px auto;
    width: 200px;
    height: 160px;

    .spin-rect {
        background-color: $brand;
        height: 100%;
        width: 20px;
        display: inline-block;
        -webkit-animation: spin-waveStretchDelay 1.2s infinite ease-in-out;
        animation: spin-waveStretchDelay 1.2s infinite ease-in-out;
    }

    .spin-rect1 {
        -webkit-animation-delay: -1.2s;
        animation-delay: -1.2s;
    }

    .spin-rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spin-rect3 {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .spin-rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spin-rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
}


@-webkit-keyframes spin-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes spin-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
