﻿aside.themepanel {
    padding: 4px;
    background: $body-bg;
    border-left: 1px solid $border;
    min-width: 181px;
    max-width: 181px;
    margin-right: -180px;
/*    -webkit-transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);
    transition: all 300ms cubic-bezier(0.32,1.25,0.375,1.15);*/

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: static;
    z-index: 2;
}

aside.themepanel.active {
    margin-right: 0;
}

.themes-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.theme-item {
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-top: 10px;
    line-height: 30px;
    font-weight: bold;
    display:flex;
}

.theme-item:hover{
    color: $light;
    background: $secondary;
}

.theme-box {
    width: 30px !important;
    height: 30px !important;
    border: 1px solid $border;
    margin-right: 10px;
}
