﻿<div class="groups">
    <section>
        <label>Name</label><label>Value</label>
        <label>Lastname</label><label>Value</label>
        <label>Another</label><label>0</label>
        <label>Another two</label><label>0</label>
    </section>
    <section>
        <label>Name</label><label>Value</label>
        <label>Lastname</label><label>Value</label>
        <label>Another</label><label>0</label>
        <label>Another two</label><label>0</label>
    </section>
        <section>
        <label>Name</label><label>Value</label>
        <label>Lastname</label><label>Value</label>
        <label>Another</label><label>0</label>
        <label>Another two</label><label>0</label>
    </section>
        <section>
        <label>Name</label><label>Value</label>
        <label>Lastname</label><label>Value</label>
        <label>Description</label>
        <textarea></textarea>
    </section>
</div>

@code {

}
