﻿//
// Basic Bootstrap table
//

.datagrid {
  --#{$variable-prefix}datagrid-bg: #{$datagrid-bg};
  --#{$variable-prefix}datagrid-accent-bg: #{$datagrid-accent-bg};
  --#{$variable-prefix}datagrid-striped-color: #{$datagrid-striped-color};
  --#{$variable-prefix}datagrid-striped-bg: #{$datagrid-striped-bg};
  --#{$variable-prefix}datagrid-active-color: #{$datagrid-active-color};
  --#{$variable-prefix}datagrid-active-bg: #{$datagrid-active-bg};
  --#{$variable-prefix}datagrid-hover-color: #{$datagrid-hover-color};
  --#{$variable-prefix}datagrid-hover-bg: #{$datagrid-hover-bg};

  width: 100%;
  margin-bottom: $spacer;
  color: $datagrid-color;
  vertical-align: $datagrid-cell-vertical-align;
  border-color: $datagrid-border-color;

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `datagrid` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $datagrid-cell-padding-y $datagrid-cell-padding-x;
    background-color: var(--#{$variable-prefix}datagrid-bg);
    border-bottom-width: $datagrid-border-width;
    box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}datagrid-accent-bg);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }

  // Highlight border color between thead, tbody and tfoot.
  > :not(:first-child) {
    border-top: 1px solid #ccc;
  }
}


//
// Change placement of captions with a class
//

.caption-top {
  caption-side: top;
}


//
// Condensed table w/ half padding
//

.datagrid-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $datagrid-cell-padding-y-sm $datagrid-cell-padding-x-sm;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left an.d right borders
// to the `td`s or `th`s

.datagrid-bordered {
  > :not(caption) > * {
    border-width: $datagrid-border-width 0;

    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 $datagrid-border-width;
    }
  }
}

.datagrid-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.datagrid-striped {
  > tbody > tr:nth-of-type(#{$datagrid-striped-order}) > * {
    --#{$variable-prefix}datagrid-accent-bg: var(--#{$variable-prefix}datagrid-striped-bg);
    color: var(--#{$variable-prefix}datagrid-striped-color);
  }
}

// Active table
//
// The `datagrid-active` class can be added to highlight rows or cells

.datagrid-active {
  --#{$variable-prefix}datagrid-accent-bg: var(--#{$variable-prefix}datagrid-active-bg);
  color: var(--#{$variable-prefix}datagrid-active-color);
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.datagrid-hover {
  > tbody > tr:hover > * {
    --#{$variable-prefix}datagrid-accent-bg: var(--#{$variable-prefix}datagrid-hover-bg);
    color: var(--#{$variable-prefix}datagrid-hover-color);
  }
}


// Table variants
//
// Table variants set the table cell backgrounds, border colors
// and the colors of the striped, hovered & active tables

@each $color, $value in $datagrid-variants {
  @include table-variant($color, $value);
}

// Responsive tables
//
// Generate series of `datagrid-responsive-*` classes for configuring the screen
// size of where your table will overflow.

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-down($breakpoint) {
    .datagrid-responsive#{$infix} {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}
