﻿@page "/"
@inject FakeService FakeService

<PanelSplitter>
    <Left>
      <Card Title="Orders">
            <Spinner Visible="@Visible" />
            <DxDataGrid @ref="Grid"
                        Data="@Data"
                        T="User"
                        CssClass="´table-sm w-100"
                        ShowGroupPanel="true"
                        ShowFilterRow="true"
                        PageSize="30" 
                        
                        RowClick="OnViewGridRowClick"
                        DataNavigationMode="DataGridNavigationMode.Paging"
                        HtmlDataCellDecoration="@OnHtmlDataCellDecoration">
                <Columns>
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" BeginGroup="true" IconCssClass="fas fa-sync-alt" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" IconCssClass="fas fa-search" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" BeginGroup="true" IconCssClass="fas fa-plus" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" IconCssClass="fas fa-save" />
                        <DxToolbarItem RenderStyle="ButtonRenderStyle.Light" IconCssClass="fas fa-trash" />
                        <DxDataGridColumnChooserToolbarItem CssClass="btn-sm" BeginGroup="true" Text="ColumnChooser" Alignment="ToolbarItemAlignment.Right" />
                    </DxToolbar>
                    <DxToolbar>
                        <TitleTemplate>
                            <PropertiesPanel></PropertiesPanel>
                        </TitleTemplate>
                    </DxToolbar>
                    <DxDataGridColumn Field="RowIndex" Caption="#" Width="60px" />
                    <DxDataGridColumn Field="Id" Width="60px" />
                    <DxDataGridColumn Field="Name" Width="100px" />
                    <DxDataGridColumn Field="Lastname" />
                </Columns>
            </DxDataGrid>
    </Card>
    </Left>
    <Right>
        <Card Title="Overview">
            Details in overview
            <br /><br />
            Test exception<br />
            <a onclick="functionNotDefined()" href="#">Test the console shell</a>
        </Card>
    </Right>
</PanelSplitter>

@code {
    public bool Visible { get; set; } = true;
    IEnumerable<User> Data { get; set; }
    private DxDataGrid<User> Grid { get; set; }

    protected override void OnInitialized() {
        Visible = true;
        StateHasChanged(); //Invoke loader
        Data = FakeService.GetUsers().ToList();
        Visible = false;
        StateHasChanged(); //Invoke loader
    }

    protected async void OnViewGridRowClick(DataGridRowClickEventArgs<User> args)
    {
        Visible = true;
        StateHasChanged(); //Invoke loader

        Visible = false;
        StateHasChanged(); //Unload loader
    }

    protected void OnHtmlDataCellDecoration(DataGridHtmlDataCellDecorationEventArgs<User> cell)
    {
        if (cell.FieldName == "RowIndex")
            cell.AddRowIndex(Grid);

        if (cell.FieldName == "Name")
            cell.SetCellTextBold("Name");
    }

}
