﻿<header>
    <section class="top-panel">
        <div class="brand"><div id="button" class="btn" onclick="toggleSidebarMenu()"><i class="fas logo"></i> <span class="main-title">Shell_</span></div></div>
        <div class="search">
            <div class="input-group md-form form-sm form-2 pl-0">
              <input class="form-control my-0 py-0" type="text" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-text1"><i class="fas fa-search text-grey" aria-hidden="true"></i></span>
              </div>
            </div>
        </div>
    </section>
    <section class="dropdowns">
            <section>
             <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownFlags" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="img/cultures/no.svg" /> Norsk
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownFlags">
                  <a class="dropdown-item active" href="#"><img src="img/cultures/no.svg" /> Norsk</a>
                <a class="dropdown-item" href="#"><img src="img/cultures/se.svg" /> Svenska</a>
                <a class="dropdown-item" href="#"><img src="img/cultures/gb.svg" /> English</a>
              </div>
            </div>
             </section>
            <section>
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rickard Magnusson</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#settingsModal">User details</a>
                <a class="dropdown-item" href="#" onclick="toggleThemePanel()">Change theme</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </div>
        </section>
    </section>
</header>


<div class="modal" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">User details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Curicullum:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>