﻿@if (Visible)
{
    <div class="spin-wave">
        <div class="spin-rect spin-rect1"></div>
        <div class="spin-rect spin-rect2"></div>
        <div class="spin-rect spin-rect3"></div>
        <div class="spin-rect spin-rect4"></div>
        <div class="spin-rect spin-rect5"></div>
    </div>
}

@code{
    [Parameter] public bool Visible { get; set; }
}