﻿/*
    To add more themes, create 
    a new themename.scss file and 
    add it to compilerconfig.json
*/


@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;600;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


/*** NO EDIT *********************/
$fa-font-path: "/fonts/fa";
$fa-font-display: block;
@import "fonts/fontawesome.scss";
@import "fonts/solid.scss";
/*** // EDIT *********************/



/*
    Theme developer
*/
/*Add a prefix to :root objects */
$variable-prefix: bs-;

/*H1, H2*/
$headings-font-family: 'Unica One';
$font-family-sans-serif: 'Noto Sans';
$font-family-base: 'Noto Sans';
$enable-caret: false;

/*Use grid classes*/
$enable-grid-classes: false;
$enable-rounded: false;
$btn-focus-box-shadow: false;
$input-focus-box-shadow: false;

$black: #000;
$white: #fff;
$blue: #9b17e2;
$cyan: #1381f3;
$green: #31bd3d;
$yellow: #fc781b;
$red: #f31446;


$gray-100: #f7f8f9;
$gray-200: #e5e5e5;
$gray-300: #adb5bd;
$gray-400: #333333;
$gray-500: #444444;
$gray-600: #495057;
$gray-700: #46444a;
$gray-800: #3c3c3c;
$gray-900: #252526;

$primary: #ff6a00;
$secondary: #424243;
$success: #035668;
$danger: #FF444F;
$info: #3F81C7;
$warning: #0DE2EA;
$light: #f4f4f4;
$border: $gray-400;
$dark: #223322;
$white: #ffffff;

$brand: $primary;

$border-radius: 0rem;

$dropdown-bg: $gray-900;
$dropdown-color: $white;
$dropdown-link-color: $white;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $blue;
$dropdown-link-disabled-color: $gray-400;
$dropdown-border-radius: 0;
$dropdown-item-padding-x: 0.2rem;
$dropdown-divider-bg: $gray-400;

$font-size-base: 0.7rem;

$card-bg: $gray-800;
$body-bg: $gray-900;
$body-color: $white;
$link-color: $white;
$text-muted: $gray-400;




/******************************* NO EDIT BELOW **************************************/

@import "bootstrap/bootstrap";

/*
    Components
    Contains base layout.
*/
@import "components/blazor";
@import "components/layout";
@import "components/icons";
@import "components/nav";
@import "components/header";
@import "components/spinner";
@import "components/themepanel";
@import "components/shell";

@import "dx/datagrid";
@import "dx/toolbar";

/*  Resizer component. 
    Is a part of bootstrap since the 
    component is transparent between themes.
*/

@import "bootstrap/resizer";


/***********************************************************************************/
