﻿/*
    Theme WlCom 360
    To add more themes, create 
    a new themename.scss file and 
    add it to compilerconfig.json
*/

@import url("https://fonts.googleapis.com/css?family=Unica+One");
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;600;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



$fa-font-path: "/fonts/fa";
$fa-font-display: block;
@import "fonts/fontawesome.scss";
@import "fonts/solid.scss";

$brand: #317d84;

/*Add a prefix to :root objects */
$variable-prefix: bs-;

/*H1, H2*/
$headings-font-family: 'Unica One';
$font-family-sans-serif: 'Noto Sans';
$font-family-base: 'Noto Sans';
$enable-caret: false;

/*Use grid classes*/
$enable-grid-classes: false;
$enable-rounded: false;
$btn-focus-box-shadow: false;

$primary: #317d84;
$secondary: #424243;
$success: #035668;
$danger: #FF444F;
$info: #3F81C7;
$warning: #0DE2EA;
$light: #f4f4f4;
$border: #d5d5d5;
$dark: #223322;
$font-size-base: 0.7rem;

$link-color: $dark;
$body-color: $dark;
$link-color: $dark;

@import "bootstrap/bootstrap";

/*
    Components
    Contains base layout.
*/
@import "components/blazor";
@import "components/layout";
@import "components/icons";
@import "components/nav";
@import "components/header";
@import "components/spinner";
@import "components/themepanel";
@import "components/shell";

@import "dx/datagrid";
@import "dx/toolbar";

/*  Resizer component. 
    Is a part of bootstrap since the 
    component is transparent between themes.
*/

@import "bootstrap/resizer";
